@model IEnumerable<Haidelberg.Vehicles.DataAccess.EF.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" href="/vehicles/create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Production Year</th>
            <th>Last Registration Date</th>
            <th>Model</th>
            <th>Licence Plate</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductionYear</td>
                <td>@item.LastRegistrationDate.ToString("yyyy MMMM dd")</td>
                <td>@item.Model</td>
                <td>@item.LicencePlate</td>
                <td>@item.Category.Name</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
